.panel header {
  display: flex;
  align-items: baseline;
}

.panel .title {
  font-size: 1.6rem;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
}

.panel .subtitle {
  margin-left: auto;
  font-weight: normal;
  font-size: 1.4rem;
}

.panel.cart {
  min-width: 300px;
}

.panel.cart .subtitle {
  margin-left: 4px;
  /* margin-right: 7px; */
}

.panel .subtitle .text {
  /* font-weight: 300; */
  opacity: 0.8;
}
