html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

/*body ::-webkit-scrollbar {*/
/*-webkit-appearance: unset;*/
/*width: auto;*/
/*height: auto;*/
/*}*/
/*body ::-webkit-scrollbar-thumb {*/
/*cursor: unset;*/
/*border-radius: unset;*/
/*background: unset;*/
/*-webkit-transition: unset;*/
/*transition: unset;*/
/*}*/
/*body ::-webkit-scrollbar-track {*/
/*background: unset;*/
/*border-radius: unset;*/
/*}*/
