@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin&display=swap");

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", HelveticaNeue-Light, "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #222;
}

ul {
  margin: 0;
  padding: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

p {
  /*margin: 0 0 1em;*/
  line-height: 1.4285em;
}
